aws {
  client {
    s3PathStyleAccess = true
    endpoint = "https://acacia.pawsey.org.au"
  }
}

// requires nf v22.10.0 or later
// in theory needs to set policy
// in Acacia, not needed for own buckets
// mc policy set-json $(pwd)/s3-fusion.json acacia-mine/pawsey0001-marco-nf-fusion
//workDir = 's3://pawsey0001-marco-nf-fusion'
workDir = 's3://pawsey0001-marco-mytesting'
fusion {
  enabled = true
}
wave {
    enabled = true
}
docker {
  enabled = true
  envWhitelist = 'AWS_ACCESS_KEY_ID,AWS_SECRET_ACCESS_KEY'
}
process.container = 'ubuntu:22.04'