aws {
  client {
    s3PathStyleAccess = true
    endpoint = "https://acacia.pawsey.org.au"
  }
}

// requires nf v22.10.0 or later
workDir = 's3://pawsey0001-marco-nf-fusion'
//workDir = 's3://pawsey0001-marco-mytesting'
fusion {
  enabled = true
}
wave {
    enabled = true
}
podman {
  enabled = true
  envWhitelist = 'AWS_ACCESS_KEY_ID,AWS_SECRET_ACCESS_KEY'
}
process.container = 'ubuntu:22.04'