profiles {

standard {
  aws {
    client {
      s3PathStyleAccess = true
      endpoint = "https://acacia.pawsey.org.au"
    }
    accessKey = secrets.aws_mdelapierre_key
    secretKey = secrets.aws_mdelapierre_secret
  }
}

aws_project {
  aws {
    client {
      s3PathStyleAccess = true
      endpoint = "https://acacia.pawsey.org.au"
    }
    accessKey = secrets.aws_pawsey0001_key
    secretKey = secrets.aws_pawsey0001_secret
  }
}

}